.color-legend {
    background-color: #51afbb;
    background-color: #64a1b9;
    color: #dfc2a2;
    color: #bccda4;
    color: #9ccbb1;
    color: #e38f8e;
}


.header-wrapper {
    background-color: #51afbb;
}
.header-wrapper nav ul li a span, .header__icon{
    color: #ffffff;
}
.announcement-bar {
    background-color: #64a1b9;
}
.announcement-bar p {
    color: #ffffff;
}
h1, h2.rich-text__heading, h3, h4, h5 {
    color: #e38f8e;
}
.shogun-override-column-images .shogun-image-container img {
    height: 400px !important;
    object-fit: cover !important;
}
.shogun-custome-slider-image img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}